*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{

    font-weight: 800;
    font-size: 2.2rem;
}

h2{
    font-size:1.5rem ;
    font-weight: 600;
    margin-bottom: 20px;
}

p{
    font-size: 1.3rem;
    font-weight: 500;
}
a{
    color: black;
}




.caption{
    font-size: 0.7rem;
    margin-top: 30px;
    font-weight: 600;
}
header {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
   

    
    
    
    height: 80px;
    background-color: black;

    
   
}

.container{
    display: flex;
    align-items: center;

    width: 1140px;
    
}

.navigation-1{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
     
}

header .container{
    
}




.logo{
height: 40px;
width: 132px;
margin: 5px;

    
}
ul{

    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    
    

}

li{
    display: flex;
    align-items: center;
    color: white;

    
    margin-left: 40px;
    font-weight: 600;
    
    
}


nav ul li:hover{
    color: rgb(29, 218, 29);
}





.section-1{
    display: flex;
    justify-content: center;
    background-color:#ffcdd2 ;
    align-items: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.sec1-arrange{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.ad1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ad1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ad-heading-caption{
    margin-top: 30px;

}


.ad-link{
    margin-top: 30px;
}


.ad-link a{
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    border: solid 1px  black;
    border-radius: 25px;
    padding: 14px 32px; 
    color: black;
    
}

a.ad-link-get-started{
    background-color: black;
    color: white;
}


.section-2{

    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}

.sec2-arrange{

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top:72px;
    padding-bottom:72px;
}

.sec2-arrange p{
    margin-top: 30px;
}

.download-img{
    margin-top: 30px;
}



.section-3{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}


.sec3-arrange{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.features{
    display: flex;
    flex-direction: row;
    
}



.feature-content{

    width: 25%;
}

.feature-image{
    height: 200px;
    width: 70%;

    margin: 50px 4px;

    
}


.section-4{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}


.sec4-arrange{
display: flex;
flex-direction: column;
align-items: space-between;



}


.plans{

    margin-top: 100px;

    display: flex;
    flex-direction: row;
    width: 100%;

    
    justify-content: space-evenly;}


.each-plan{


    border: 1px solid rgba(87, 80, 80, 0.548);
    border-radius: 10px;
    text-align: left;
    
    box-shadow: 1px 0px 10px 4px rgba(128, 128, 128, 0.349);
    width: 32%;
    
    
}





