*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{

    font-weight: 800;
    font-size: 2.2rem;
}

h2{
    font-size:1.5rem ;
    font-weight: 600;
    margin-bottom: 20px;
}

p{
    font-size: 1.3rem;
    font-weight: 500;
}
a{
    color: black;
}




.caption{
    font-size: 0.7rem;
    margin-top: 30px;
    font-weight: 300;
}
header {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
   

    
    
    
    height: 80px;
    background-color: black;

    
   
}

.container{
    display: flex;
    align-items: center;

    width: 1140px;
    
}

.navigation-1{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
     
}

header .container{
    
}




.logo{
height: 40px;
width: 132px;
margin: 5px;

    
}
ul{

    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    
    

}

li{
    display: flex;
    align-items: center;
    color: white;

    
    margin-left: 40px;
    font-weight: 600;
    
    
}


nav ul li:hover{
    color: rgb(29, 218, 29);
}





.section-1{
    display: flex;
    justify-content: center;
    background-color:#ffcdd2 ;
    align-items: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.sec1-arrange{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.ad1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ad1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ad-heading-caption{
    margin-top: 30px;

}


.ad-link{
    margin-top: 30px;
}


.ad-link a{
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    border: solid 1px  black;
    border-radius: 25px;
    padding: 14px 32px; 
    color: black;
    
}

a.ad-link-get-started{
    background-color: black;
    color: white;
}


.section-2{

    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}

.sec2-arrange{

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top:72px;
    padding-bottom:72px;
}

.sec2-arrange p{
    margin-top: 30px;
}

.download-img{
    margin-top: 30px;
}



.section-3{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}


.sec3-arrange{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.features{
    display: flex;
    flex-direction: row;
    
}



.feature-content{

    width: 25%;
}

.feature-image{
    height: 200px;
    width: 70%;

    margin: 50px 4px;

    
}


.section-4{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}


.sec4-arrange{
display: flex;
flex-direction: column;
align-items: space-between;



}


.plans{

    margin-top: 100px;

    display: flex;
    flex-direction: row;
    width: 100%;

    
    justify-content: space-evenly;}


.each-plan{


    border: 1px solid rgba(87, 80, 80, 0.548);
    border-radius: 10px;
    text-align: left;
    
    box-shadow: 1px 0px 10px 4px rgba(128, 128, 128, 0.349);
    width: 32%;
    height: auto;
    

    padding: 20px;
    
}




.each-plan p{

    font-size: 16px;
    font-weight: 300;
}

#duration {
    padding: 4px 8px;
    border-radius: 5px;
    background: rgb(46, 119, 208);
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    width: 110px;
    
}

.top-section-plan{

    height: 150px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;

}


.top-section-plan h2{
    margin-bottom: 5px;
}

.middle-section-plan{

    padding: 32px 0 16px;
    height: 240px;
    
}

.middle-section-plan p img{
    
    
    margin-right: 10px;
    text-align: center;
   
}


.middle-section-plan p {
    
    display: flex;
    align-items: center;
   
}

.plan-get-started{


    text-decoration: none;
    text-align: center;
    width: 100%;

    font-size: 0.9rem;
    font-weight: 600;
    
    border: solid 1px  black;
    border-radius: 25px;
    padding: 14px 32px; 
    background-color: black;
    
    

}

.plan-get-started a{
    text-decoration: none;
    color: white;
}

.each-plan .caption{
    font-size: 0.7rem;
    margin-top: 30px;
    font-weight: 300;
    text-align: left;
}

.section-5{
    height: auto;
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
    
    
}

.sec5-arrange{
    width: 100%;
}

.questions-top{
    
    text-align: center;
    margin-bottom: 72px;
}

.questions-top h2{
    font-size: 24px;
    margin-top: 15px;
    font-weight: 400;
}


.questions{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 28px;
    margin-top: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.questions p{
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
}
.questions img{
    width: 24px;
    height: 24px;

}


footer{
    background-color: black;
    height: 554px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    
    

}






.footer-arrange{

    display: flex;
    flex-direction: column;
    width: 100%;

}

.footer-top-section{

    display: flex;
    flex-direction: row;
    height: 346px;
}


.footer-top-logo{

    width: 195px;
}

.footer-top-logo img{

    width: 132px;
    height: 42px;
}



.footer-top-nav{

    width: 195px;
}
.footer-top-nav ul{


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    list-style: none;
    text-align: left;
    
}
.footer-top-nav ul li {

    text-decoration: none;;
    color: white;

    text-align: left;
}

.footer-top-nav ul li a{

    text-decoration: none;;
    color: white;

    text-align: left;
    font-size: 16px;
    padding: 3px 0 15px;
    font-weight: 300;
}

#nav-footer-heading {

    margin: 20px 0;

    color: #919496;
    font-size: 12px;

    font-weight: 600;
    padding: 0;
}


.footer-top-nav ul li a:hover{
    color: rgb(29, 218, 29);


}


.footer-top-socials{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    
    width: 192px;
    margin: 20px 15px 0px 183px;

}

.footer-top-socials img{
    filter: brightness(0) invert(1);
    height: 24px;
    width: 24px;


}



.footer-top-socials img:hover{

    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}


.social-icon{

    
    border: solid 1px  black;
    border-radius: 25px;
     
    height: 54px;
    width: 54px;
    
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;

   
    
    
}



.footer-middle-section .lang{

    color: white;
}


.footer-last-section{
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-last-section p{

    color: white;
}

.footer-last-section ul{

    text-align: left;
}

.lang a{
    text-decoration: none;
    color: #919496;
    font-size: 12px;
    padding: 12px 0;

}
.lang{
    padding: 12px 0;
}

.footer-middle-section{
    width: 100%;
    text-align: right;
}



.lang a:hover{


 color: rgb(29, 218, 29);
}


.footer-last-section{

    display: flex;
    justify-content: space-between;
}

.footer-last-section *{

    font-size: 12px;
    color: #919496;
    padding: 12px 0;
    text-decoration: none;


}


.footer-last-section p{
    color: #919496;
}



.footer-last-section a:hover{
    color: rgb(29, 218, 29);

}
